exportPattern("^[[:alpha:]]+")

#IMPORTS
importFrom("dada2", "derepFastq", "learnErrors", "dada", "mergePairs", "makeSequenceTable", "removeBimeraDenovo", "assignTaxonomy", "getSequences")
importFrom("phyloseq", "phyloseq", "tax_table", "otu_table", "sample_data", "phy_tree", "tax_glom", "estimate_richness", "tree_layout", "prune_taxa", "plot_network", "make_network")

importFrom("igraph", "vcount", "ecount", "degree")
importFrom("stringr", "str_replace")
importFrom("DECIPHER", "AlignSeqs")
importFrom("Biostrings", "DNAStringSet")
importFrom("phangorn", "phyDat", "dist.ml", "NJ", "pml", "optim.pml", "pml.control")
importFrom("methods", "as", "new")
importFrom("stats", "update")

#CORE MICROBIOME ANALYSIS FUNCTION
export("mga")
S3method(plot,mga)

#TAXONOMIC FILTERING FUNCTION
export("filter_mga")
